* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: black;
  color: white;
}

body,
.wrapper,
.products-wrapper .image-wrapper,
.products-wrapper .content-wrapper {
  width: 100%;
  height: auto;
}

.products-wrapper,
.products-wrapper .content-wrapper .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Products */

.products-wrapper .products {
  width: 300px;
  height: 500px;
  padding: 1em;
  margin: 1em;
  color: inherit;
}

.products-wrapper .image-wrapper {
  text-align: center;
  width: auto;
}

.products-wrapper .image-wrapper img {
  width: 240px;
  height: 240px;
  object-fit: contain;
}

.products-wrapper .content-wrapper .title,
.products-wrapper .content-wrapper .description,
.products-wrapper .content-wrapper .price {
  display: block;
}

.products-wrapper .content-wrapper .title {
  display: flex;
  height: 80px;
  justify-content: center;
}

.products-wrapper .content-wrapper .description {
  height: 70px;
  margin: 1em 0;
}

.products-wrapper .content-wrapper .title {
  font-weight: bold;
  text-transform: capitalize;
}

.products-wrapper .content-wrapper .price {
  font-weight: bold;
  display: block;
  height: 50px;
}
